.avatar-component {
  display: grid;
  align-content: center;
  align-items: flex-end;
  justify-content: flex-end;
  grid-template-columns: auto auto auto;
  column-gap: 14px;
}

.avatar-component-img {
  display: grid;
  align-content: center;
  border-radius: 50px;
  height: 50px;
  width: 50px;

  img {
    border-radius: 50px;
  }
}

.avatar-user-data {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  row-gap: 3px;

  p {
    color: var(--colorBlack2);
    font-size: var(--sizeMd);
    font-weight: var(--weightSemiBold);
  }

  span {
    color: var(--colorGray3);
    font-size: var(--sizeXsm);
    font-weight: var(--weightRegular);
  }
}

.avatar-settings {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;

  i {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .avatar-component {
    grid-template-columns: auto;
  }

  .avatar-settings {
    display: none;
  }

  .avatar-component {
    grid-template-columns: auto auto;
    max-width: fit-content;
  }

  .avatar-user-data {
    display: none;
  }
}
