.content-header {
  display: grid;
  align-items: center;
  justify-items: flex-end;
  grid-template-columns: 1fr 1fr auto;
  gap: 23px;
  grid-template-areas: "headerSearchInput headerNote avatar";
}

.headerSearchInput {
  display: grid;
  height: max-content;
  grid-area: headerSearchInput;
}

.headerNote {
  display: grid;
  align-content: center;
  justify-content: flex-end;
  grid-template-columns: auto auto;
  gap: 14px;
  grid-area: headerNote;
}

.avatar {
  max-width: fit-content;
  grid-area: avatar;
}

/* Media queries */
@media (max-width: 767px) {
  .content-header {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 14px;
    grid-template-areas:
      "avatar headerNote"
      "headerSearchInput headerSearchInput";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-header {
    grid-template-columns: 1fr 1fr auto;
  }
}
