:root {
  --colorPri: #6629f3;
  --colorSec1: #312C51;
  --colorSec2: #48426D;
  --colorBlack: #000000;
  --colorBlack2: #1D2939;
  --colorWhite: #ffff;
  --colorGray: #f8fafc;
  --colorGray1: #f3f4f6;
  --colorGray2: #e5e7eb;
  --colorGray3: #d1d5db;
  --colorGray4: #9ca3af;
  --colorGray5: #6b7280;
  --colorGray6: #555;

  --colorSoaMist: #C2DEB9;
  --colorNavajo: #FFDEAC;
  --colorGreen1: #4CAF50;
  --colorCancel: #ff3960;

  --colorBorderInput: 1px solid var(--colorGray3);
  --colorBorderInputHover: var(--colorBlack);
  --colorButton: var(--colorPri);
  --colorButtonText: var(--colorWhite);
  --colorButtonHover: var(--colorSec2);
  --colorLabel: var(--colorGray3);
  --buttonBgPri: var(--colorPri);
  --colorBorderTble: var(--colorGray2);

  --colorTextP: var(--colorGray6);

  --bgInput: var(--colorGray1);

  --borderRadiusButton: 50px;

  --weightMedium: 400;
  --weightRegular: 500;
  --weightSemiBold: 600;
  --weightBold: 700;

  --sizeXsm: 12px;
  --sizeSm: 14px;
  --sizeMd: 15px;
  --sizeLg: 17px;
  --sizeXl: 24px;
  --sizeXxl: 32px;

  --borderRadiusInput: 5px;
  --borderRadiusButton: 50px;
  --borderRadius: 5px 1px solid var(--colorGray4);

  --transition: all 400ms ease-in-out 0s;
}

label {
  height: auto;
  font-size: 12px;
  color: var(--colorGray5);
}

/*
*  input [type="checkbox"],
*  input [type="radio"] input [type="submit"] 
*/

input [type="text"],
input [type="password"],
input [type="email"],
input [type="number"],
input [type="url"],
input [type="tel"],
input [type="date"],
input [type="time"],
input [type="datetime-local"],
input [type="color"],
input [type="search"],
input [type="range"],
input [type="file"],
input [type="hidden"],
input,
select {
  width: 100%;
  padding: 8px;
  border: var(--colorBorderInput);
  border-radius: var(--borderRadiusInput);
  font-size: var(--sizeLg);
  height: 40px;
}

input [type="text_area"],
select {
  width: 100%;
  padding: 8px;
  border: var(--colorBorderInput);
  border-radius: var(--borderRadiusInput);
  height: 40px;
}



/* Estilo para foco */
input [type="text"]:focus,
input [type="password"]:focus,
input [type="email"]:focus,
input [type="number"]:focus,
input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--colorBorderInputHover);
}
