.container-orveview {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr auto;
}

// .container-orveview-date-selector {}
// .container-orveview-text {}

.container-orveview-functions {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: flex-end;
  justify-content: flex-end;
  column-gap: 14px;
  height: fit-content;
}

// .container-orveview-button-export {}

/* Media queries for responsiveness */

/* Telas pequenas - Smartphones */
@media (max-width: 767px) {
  .container-orveview-functions {
    grid-template-columns: auto;
  }

  .container-orveview-date-selector {
    display: none;
  }
}
