.card-overview {
  display: grid;
  height: max-content;
}

.card-overview-header {
  display: grid;
  height: max-content;

  .card-overview-title h1 {
    display: flex;
    height: max-content;
    font-size: var(--sizeXxl);
    font-weight: var(--weightSemiBold);
    color: var(--colorBlack);
  }

  .card-overview-description {
    display: flex;
    height: max-content;

    p {
      font-size: var(--sizeLg);
      font-weight: var(--weightRegular);
      color: var(--colorTextP);
    }
  }
}
