<div class="sidebar-content">
  <div class="sidebar-logo">
    <%= image_tag "logo_pri", alt: "Logo LeveCasa" %>
    <h1>LeveCasa</h1>
  </div>

  <div class="sidebar-nav-list">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Dashboard", href: admin_dashboard_path, icon: "apps", class_name: "link-dashboard" },
        { name: "Discover", href: admin_discover_path, icon: "home", class_name: "link-discover"},
        { name: "Chat", href: admin_chat_path, icon: "comment", class_name: "chat"},
        { name: "Listing", href: admin_listing_path, icon: "city", class_name: "link-my-listing" },
        { name: "Customer", href: admin_customer_path, icon: "customer", class_name: "link-customer" },
        { name: "Analytics", href: admin_analytics_path, icon: "chart_kanban", class_name: "link-analytics"},
        { name: "Transaction", href: admin_transaction_path, icon: "usd_circle", class_name: "link-transaction"}
      ]) %>
    <% end %>
  </div>

  <div class="sidebar-menu-mobile">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "menu", href: "/", icon: "menu" },
      ]) %>
    <% end %>
  </div>

  <div class="sidebar-footer">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Settings", href: admin_settings_path, icon: "settings" },
        { name: "Activity", href: admin_settings_path, icon: "clock" },
      ]) %>
    <% end %>
  </div>
</div>