<!-- Overview::LayoutComponent -->
<%= render(Overview::LayoutComponent.new) do |orveviewLayout| %>

<% orveviewLayout.with_containerText do %>
<div class="container-orveview-text">
  <!-- Overview::OverviewComponent -->
  <%= render(Overview::OverviewComponent.new(title: "Dashboard")) do |component|  %>
  <% component.with_overview_title do %>
  <h1>Dashboard</h1>
  <% end %>

  <% component.with_overview_description do %>
  <p>overview description</p>
  <% end %>
  <% end %>
</div>
<% end %>
<!-- end -->

<!-- start -->
<% orveviewLayout.with_containerFunctionOne do %>
<%= render 'shared/date_selector' %>
<% end %>
<!-- end -->

<!-- start -->
<% orveviewLayout.with_containerFunctionThree do %>
<%= render(Button::ButtonAddComponent.new) do |component| %>
<% component.with_links([
      { name: "Add Imóvel", href: admin_dashboard_path, icon1: "plus", class_name: "link-dashboard" },
  ]) %>
<% end %>
<% end %>
<!-- end -->
<% end %>
<!-- end -->