<div class="container-orveview">
  <div class="container-orveview-text">
    <%= render(Overview::OverviewComponent.new(title: "My Title")) do |component|  %>
    <% component.with_overview_title do %>
    <h1>Analytics</h1>
    <% end %>

    <% component.with_overview_description do %>
    <p>Saturday, 23 March 2024</p>
    <% end %>
    <% end %>
  </div>

  <div class="container-orveview-functions">
    <div class="button-function2">
      <%= render 'shared/button_export' %>
    </div>
  </div>
</div>


<br>
<%= render 'shared/develop/not_main' %>