.date-selector {
  display: grid;
  grid-template-columns: 1fr;

  input[type="date"] {
    color: var(--colorPri);
    border-radius: var(--borderRadiusInput);
    border: 2px solid var(--colorPri);
    font-weight: var(--weightSemiBold);
    font-size: var(--sizeSm);
    padding: 4px;
  }

  /* Estilo para foco */
  input[type="text-decoration-line: ;"]:focus {
    outline: none;
  }
}
