<!-- Overview::LayoutComponent -->
<%= render(Overview::LayoutComponent.new) do |orveviewLayout| %>

<% orveviewLayout.with_containerText do %>
<div class="container-orveview-text">
  <!-- Overview::OverviewComponent -->
  <%= render(Overview::OverviewComponent.new(title: "Dashboard")) do |component|  %>
  <% component.with_overview_title do %>
  <h1>Property Details</h1>
  <% end %>

  <% component.with_overview_description do %>
  <p>Detailed Property Overview</p>
  <% end %>
  <% end %>
</div>
<% end %>
<% end %>
<!-- end -->
<%= render 'admin/listings/properties/_navigation' %>